<div id="addtarefa" class="flex flex-col gap-y-3 items-center h-screen">

    <input type="text" placeholder="Adicione o Título" id="tituloTarefa">
    <input type="text" placeholder="Adicione a descrição" id="descricaoTarefa">
    <input type="text" placeholder="Adicione o estado" id="estadoTarefa">
    <input type="text" placeholder="Adicione a importância" id="importanciaTarefa">
    <span>Adicione uma data: 
        <input type="date" id="prazoTarefa">
    </span>

    <a href="/quadro">
    <button onclick= fetchData()>Enviar</button>
    </a>

</div>

<script src="/scripts/sendTarefa.js"></script>