<footer class="bg-zinc-50 flex align-center justify-around p-3 text-sm font-bold ">
    <!--Logo-->
    <a>
        <img src="/assets/logo.svg">
    </a>

    <!--Link para páginas da aplicação-->
    <ul class="flex flex-col gap-3 underline">
        <a href="/"><li>Home</li></a>
        <!-- <li>Perfil</li> -->
        <a href="/quadro"><li>Quadro</li></a>
    </ul>

    <!--Contatos-->
    <ul class="flex flex-col">
        <div class="mb-3">
            <p>
                Entre em contato:
            </p>
        </div>

        <div class="font-normal">
            <li class="mb-2">(92) 98180-3581</li>
            <li>olivindomessias@gmail.com</li>
        </div>
    </ul>
</footer>