<header class = 'bg-zinc-50 flex items-center justify-around text-sm p-3 font-bold'>
    <a href = "/">
        <img src='/assets/logo.svg' alt="Logotipo do TarefaBan">
    </a>

    <ul class = "flex gap-x-8 underline">
        <li>Home</li>
        <li>Perfil</li>
        <li>Quadro</li>
    </ul>

    <a href="https://github.com/Messias-Olivindo" target="_blank" class="underline">Sobre o criador</a>

    <a href = "/usuario" class = 'justify-center'>
        <img src='/assets/userIcon.svg' alt="Ícone de usuário para redirecionar a tela de perfil" class="h-3/4 w-3/4">
    </a>
</header>
