<header>
    <p>Uma imagem ficará aqui</p>

    <ul>
        <li>Home</li>
        <li>Perfil</li>
        <li>Quadro</li>
    </ul>

    <a href="https://github.com/Messias-Olivindo" target="_blank">Sobre o criador</a>

    <a href="../pages/home.ejs">Aqui ficará a imagem de usuário</a>
</header>