<main class="flex flex-col h-screen self-center">
    <!--Texto chamativo-->
    <h1 class="text-7xl self-center">
        Lorem ipsum
    </h1>
    <!--Explicação do texto-->
    <p class="text-3xl self-center mt-3">
        Lorem ipsum lorem ipsum lorem ipsum
    </p>
    <!--Imagem do protótipo-->
    <img src="" alt="Imagem demonstrativa da plataforma" class="self-center mt-14">
    <!--Botão de ir p login ou quadro-->
    <a href="/quadro" class="text-base font-bold mt-23 bg-[#4E8AD9] self-center p-3 px-10 rounded-lg text-white">Entre</a>
</main>