<div class="h-full mb-4">
    <main class="grid grid-cols-12 h-full mb-4">


        <!--Título da página-->
        <h1 class="col-span-full text-center text-5xl mb-8">Quadro</h1>

        <!--Botão de adicionar uma nova tarefa-->
        <a href='/adicionar'
            class="col-span-2 col-start-10 text-base border-[2px] border-[#021E73]/20 border-solid mb-8 py-2 rounded-lg bg-[#021E73] text-white">
            <span class = "flex justify-center">
                Adicionar
            </span>
        </a>

        <!--Quadros Kanban-->
        <div
            class="grid grid-cols-11 gap-x-3 rounded-lg border border-solid border-black/50 col-start-2 col-end-12 p-8">
            <h2 class="col-start-1 col-span-3 text-center hful items-center p-2 text-3xl mb-4">
                A fazer
            </h2>
            <h2 class="col-start-5 col-span-3 text-center self-start p-2 text-3xl">
                Fazendo
            </h2>
            <h2 class="col-start-9 col-span-3 text-center p-2 text-3xl">
                Concluído
            </h2>

            <!--Coluna de a fazer-->
            <div class="col-start-1 col-span-3 text-center rounded-lg border border-solid border-black/20  bg-zinc-50 h-full min-h-[100px]"
                id="aFazer">
              
            </div>

            <!--Fazendo-->
            <div class="col-start-5 col-span-3 text-center rounded border border-solid border-black/20 bg-zinc-50 h-full"
                id="fazendo">

            </div>

            <!--Feito-->
            <div class="col-start-9 col-span-3 text-center rounded border border-solid border-black/20 bg-zinc-50 h-full"
                id="feito">

            </div>
        </div>
    </main>
</div>

<script src="/scripts/quadro.js"></script>