<!--Somente esse arquivo utiliza as configurações do head já que ele servirá como base para outras páginas-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle %></title>
</head>
<body>
    <!--Adicionar o header-->
    <%- include('../partials/header'); %>
    
    <!--Adicionar o conteúdo-->
    <%- include('')  %>
</body>
</html>